body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.fig {
  font-style: italic;
  font-size: 14px;
}

.peepo {
  height: 120px;
  width: 128px;
}

.food {
  height: 250px;
  width: 250px;
}

#header {
  background-color: #ffff00;
  width: fit-content;
}

button {
  background-color: #ffffff;
}